<header class="navbar" id="header">
	<ul class="navlist">
		<li>
			<button onclick="show('d1', '')" class="navlinks drpbtn">Über uns</button>
			<div id="d1" class="about" style="position: fixed">
				<a href="/about-us/mev-college">Mev</a>
				<a href="/about-us/letters">Briefe</a>
			</div>
		</li>
		<li>
			<button onclick="show('d2', '')" class="navlinks drpbtn2">
				Wer sind wir?
			</button>
			<div id="d2" class="meet" style="position: fixed">
				<a href="/meet-the-team/academic-team">Akademisches Team</a><a href="/meet-the-team/organization-team">Organisations Team</a>
			</div>
		</li>
		<li>
			<button onclick="show('d7','3')" class="navlinks drpbtn7">
				Konferenz
			</button>
			<div id="d7" class="conference" style="position: fixed">
				<div style="border-top-left-radius: 5px;border-top-right-radius: 5px;">
					<a style="border-top-left-radius: 5px;" href="/conference/schedule">Programm</a>
					<a style="border-top-right-radius: 5px;" href="/confere">Handbuch</a>
				</div>
				<div>
					<a href="/conference/social">Party</a>
					<a href="/conference/pricing-details">Preisdetails</a>
				</div>
				<div style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
					<a style="border-bottom-left-radius: 5px;" href="/conference/venue">Ort</a>
					<a style="border-bottom-right-radius: 5px;" href="/conference/faq">HGF</a>
				</div>
			</div>
		</li>

		<li>
			<button onclick="show('d5', '3')" class="navlinks drpbtn5">
				Komitees
			</button>
			<div id="d5" class="committee" style="position: fixed">
				<a href="/c/english-committees">Englische Komitees</a>
				<a href="/c/turkce-komiteler">Türkische Komitees</a>
				<a href="/c/deutsche-komitees">Deutsche Komitees</a>
			</div>
		</li>
		<li><a class="navlinks" href="/apply-now">Jetzt bewerben</a></li>
		<li><a class="navlinks" href="/contact-us">Kontakte</a></li>
	</ul>
</header>
<div class="menu-wrap" id="wrap">
	<input type="checkbox" class="toggler" />
	<div class="hamburger">
		<div></div>
	</div>
	<div class="menu">
		<div class="effective-circle">
			<div style="margin-bottom: 3vh">
				<a class="nav-links" href="/contact-us">Kontakte</a>
				<div>
					<button onclick="show('d8', '3')" class="nav-links drpbtn8">
						Konferenz
					</button>
				</div>
				<a class="nav-links" href="/apply-now">Jetzt bewerben</a>
			</div>
			<div class="bttm-line" style="margin-top: 3vh">
				<div>
					<button onclick="show('d3','2')" class="nav-links drpbtn3">
						Über uns
					</button>
				</div>
				<div>
					<button onclick="show('d4','2')" class="nav-links drpbtn4">
						Wer sind wir?
					</button>
				</div>
				<div>
					<button onclick="show('d6','4')" class="nav-links drpbtn6">
						Komitees
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="clear-nav"></div>
</div>
</div>
<div id="d3" class="about2" style="position: fixed">
	<a href="/about-us/mev-college">Mev</a>
	<a href="/about-us/letters">Briefe</a>
</div>
<div id="d4" class="meet2" style="position: fixed">
	<a href="/meet-the-team/academic-team">Akademisches Team</a><a href="/meet-the-team/organization-team">Organisations Team</a>
</div>
<div id="d8" class="conference2" style="position: fixed">
	<div style="border-top-left-radius: 5px;border-top-right-radius: 5px;">
		<a style="border-top-left-radius: 5px;" href="/conference/schedule">Programm</a>
		<a style="border-top-right-radius: 5px;" href="/conference/handbooks">Handbücher</a>
	</div>
	<div>
		<a href="/conference/social">Party</a>
		<a href="/conference/pricing-details">Preisdetails</a>
	</div>
	<div style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
		<a style="border-bottom-left-radius: 5px;" href="/conference/venue">Ort</a>
		<a style="border-bottom-right-radius: 5px;" href="/conference/faq">HGF</a>
	</div>
</div>

<div id="d6" class="committee2" style="position: fixed">
	<a href="/c/english-committees">Englische Komitees</a>
	<a href="/c/turkce-komiteler">Türkische Komitees</a>
	<a href="/c/deutsche-komitees">Deutsche Komitees</a>
</div>