<header class="navbar" id="header">
	<ul class="navlist">
		<li>
			<button onclick="show('d1', '')" class="navlinks drpbtn">About Us</button>
			<div id="d1" class="about" style="position: fixed">
				<a href="/about-us/mev-college">Mev College</a>
				<a href="/about-us/letters">Letters</a>
			</div>
		</li>
		<li>
			<button onclick="show('d2', '')" class="navlinks drpbtn2">
				Meet The Team
			</button>
			<div id="d2" class="meet" style="position: fixed">
				<a href="/meet-the-team/academic-team">Academic Team</a><a href="/meet-the-team/organization-team">Organization Team</a>
			</div>
		</li>
		<li>
			<button onclick="show('d7','3')" class="navlinks drpbtn7">
				Conference
			</button>
			<div id="d7" class="conference" style="position: fixed">
				<div style="border-top-left-radius: 5px;border-top-right-radius: 5px;">
					<a style="border-top-left-radius: 5px;" href="/conference/schedule">Schedule</a>
					<a style="border-top-right-radius: 5px;" href="/conference/handbooks">Handbooks</a>
				</div>
				<div>
					<a href="/conference/social">Social</a>
					<a href="/conference/pricing-details">Pricing Details</a>
				</div>
				<div style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
					<a style="border-bottom-left-radius: 5px;" href="/conference/venue">Venue</a>
					<a style="border-bottom-right-radius: 5px;" href="/conference/faq">FAQ</a>
				</div>
			</div>
		</li>

		<li>
			<button onclick="show('d5', '3')" class="navlinks drpbtn5">
				Committees
			</button>
			<div id="d5" class="committee" style="position: fixed">
				<a href="/c/english-committees">English Committees</a>
				<a href="/c/turkce-komiteler">Türkçe Komiteler</a>
				<a href="/c/deutsche-komitees">Deutsche Komitees</a>
			</div>
		</li>
		<li><a class="navlinks" href="/apply-now">Apply Now</a></li>
		<li><a class="navlinks" href="/contact-us">Contact Us</a></li>
	</ul>
</header>
<div class="menu-wrap" id="wrap">
	<input type="checkbox" class="toggler" />
	<div class="hamburger">
		<div></div>
	</div>
	<div class="menu">
		<div class="effective-circle">
			<div style="margin-bottom: 3vh">
				<a class="nav-links" href="/contact-us">Contact Us</a>
				<div>
					<button onclick="show('d8', '3')" class="nav-links drpbtn8">
						Conference
					</button>
				</div>
				<a class="nav-links" href="/apply-now">Apply Now</a>
			</div>
			<div class="bttm-line" style="margin-top: 3vh">
				<div>
					<button onclick="show('d3','2')" class="nav-links drpbtn3">
						About Us
					</button>
				</div>
				<div>
					<button onclick="show('d4','2')" class="nav-links drpbtn4">
						Meet The Team
					</button>
				</div>
				<div>
					<button onclick="show('d6','4')" class="nav-links drpbtn6">
						Committees
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="clear-nav"></div>
</div>
</div>
<div id="d3" class="about2" style="position: fixed">
	<a href="/about-us/mev-college">Mev College</a>
	<a href="/about-us/letters">Letters</a>
</div>
<div id="d4" class="meet2" style="position: fixed">
	<a href="/meet-the-team/academic-team">Academic Team</a>
	<a href="/meet-the-team/organization-team">Organization Team</a>
</div>
<div id="d8" class="conference2" style="position: fixed">
	<div style="border-top-left-radius: 5px;border-top-right-radius: 5px;">
		<a style="border-top-left-radius: 5px;" href="/conference/schedule">Schedule</a>
		<a style="border-top-right-radius: 5px;" href="/conference/handbooks">Handbook</a>
	</div>
	<div>
		<a href="/conference/social">Social</a>
		<a href="/conference/pricing-details">Pricing Details</a>
	</div>
	<div style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
		<a style="border-bottom-left-radius: 5px;" href="/conference/venue">Venue</a>
		<a style="border-bottom-right-radius: 5px;" href="/conference/faq">FAQ</a>
	</div>
</div>

<div id="d6" class="committee2" style="position: fixed">
	<a href="/c/english-committees">English Committees</a>
	<a href="/c/turkce-komiteler">Türkçe Komiteler</a>
	<a href="/c/deutsche-komitees">Deutsche Komitees</a>
</div>